<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main>
		<div class="container py-4">
			<div class="card bg-ligth">
				<a class="btn btn-outline-success btn-sm"
					th:href="@{/modulo-ventas/clientes}">volver</a>
				<div class="card-header" th:text="${titulo}"></div>
				<div class="card-body">
					<h4 class="card-title"></h4>
<form id="formp" th:action="@{/modulo-ventas/crear/}+ ${clienteid}"
						th:object="${pedido}" method="post">
<!-- 						<input type="hidden" th:value="1" th:field:="id"/> -->
						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:text="'Folio:'"></label>
							<div class="col-sm-6" >
								<input class="form-control" th:field="*{folio}" 
								th:errorclass="'form-control alert-danger'"/>
							<small
								th:if="${#fields.hasErrors('folio')}" th:errors="*{folio}"
								class="form-text text-danger"></small>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:text="'Cliente:'"></label>
							<div class="col-sm-6">
								<input class="form-control"
									th:value="${pedido.cliente.nombre} + ' ' + ${pedido.cliente.apellidos}"
									disabled="disabled" 
									/>
								<input type="hidden" th:field="*{cliente}" th:value="${clienteid}"/>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:text="'RFC:'"></label>
							<div class="col-sm-6">
								<input class="form-control" th:value="${pedido.cliente.rfc}"
									disabled="disabled" />
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:text="'Direccion:'"></label>
							<div class="col-sm-6">
								<select id="direccion" class="form-control">
									<option th:each="dir: ${direccion}"
										th:text="${dir.colonia} + ' ' + ${dir.calle}+' ' + ${dir.numext}"></option>
								</select>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:text="'Descripcion:'"></label>
							<div class="col-sm-6">
								<input class="form-control" type="text"
									th:field="*{descripcion}"  th:errorclass="'form-control alert-danger'"/>
								<small
								th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"
								class="form-text text-danger"></small>	
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:text="'Observaciones:'"></label>
							<div class="col-sm-6">
								<textarea class="form-control" type="text"
									th:field="*{observacion}">
						
						</textarea>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label" th:text="'Tipo de Pago:'"></label>
							<div class="col-sm-6">
								<select id="tipoPago" th:field="*{tp}" class="form-control" th:errorclass="'form-control alert-danger'">
									<option value="">----Seleccionar------</option>
									<option th:each="tp: ${tipoPago}" th:text="${tp.descripcion}"
										th:value="${tp.id}">
									</option>
								</select>
							<small
								th:if="${#fields.hasErrors('tp')}" th:errors="*{tp}"
								class="form-text text-danger"></small>	
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label"
								th:text="'Tipo de Credito:'"></label>
							<div class="col-sm-6">
								<select id="tipocredito" th:field="*{tc}" class="form-control" th:errorclass="'form-control alert-danger'">
									<option value="">----Seleccionar------</option>
									<option th:each="tc: ${tipoCredito}"
										th:text="${tc.descripcion}" th:value="${tc.id}"></option>
								</select>
								<small
								th:if="${#fields.hasErrors('tc')}" th:errors="*{tc}"
								class="form-text text-danger"></small>	
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-2 col-form-label" for="buscar_producto">Buscar
								Producto:</label>
							<div class="col-sm-6">
								<input class="form-control" type="text" name="buscar_producto"
									id="buscar_producto" placeholder="Buscar Producto" />
							</div>
						</div>
						<table th:replace="vistas/ventas/plantilla-item :: itemspedido"></table>
						<table id="cargarItemProductos"
							class="table table-sm table-striped table-hover table-response">
							<thead>
								<tr>
									<th width="10%">Codigo</th>
									<th>Nombre</th>
									<th width="10%">Cantidad</th>
									<th width="10%">Descuento</th>
									<th width="10%">Precio</th>
									<th width="10%">Total</th>
									<th width="10%">Eliminar</th>
								</tr>
							</thead>
							<tbody>

							</tbody>
						</table>
						<h5>
							SubTotal: <span class="badge badge-primary" id="Sub_Total">0</span>
						</h5>
						<h5>
							IVA (16%): <span class="badge badge-secondary" id="Impuestos">0</span>
						</h5>
						<h5 >
							Total: 
							<span
								class="badge badge-success .glyphicon .glyphicon-usd 
								GranTotal">0
							</span>
							<input type="hidden"  th:field="*{total}" id="GranTotalInput" />
								
						</h5>
						<div class="form-group row">
							<input type="submit" th:value="'crear pedido'"
								class="btn btn-secundary" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</main>
	<footer></footer>
	<script type="text/javascript"
		th:replace="vistas/ventas/js/autocomplete-producto :: javascript"></script>
</body>
</html>