<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<table th:if="${not #lists.isEmpty(pedidos)}" class="table table-bordered table-striped my-4">
					<thead class="thead-dark">
						<tr>
							<th>Folio</th>
							<th>Descripcion</th>
							<th>Tipo de Pago</th>
							<th>Tipo de Credito</th>
							<th>Fecha de Creacion</th>
							<th>Total</th>
							<th>Ver Detalle</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pedido: ${pedidos}">
							<td th:text="${pedido.folio}"></td>
							<td th:text="${pedido.descripcion}"></td>
							<td th:text="${pedido.tp.descripcion}"></td>
							<td th:text="${pedido.tc.descripcion}"></td>
							<td th:text="${pedido.createAt}"></td>
							<td th:text="${pedido.total}"></td>
							<td ><a class="btn btn-outline-warning btn-xs" th:href="@{/modulo-ventas/ver/detalle/venta/} + ${pedido.folio}" th:text="'ir'"></a></td>
								<td ><a class="btn btn-outline-danger btn-xs" th:href="@{/modulo-ventas/eliminarpedido/} + ${pedido.id}" th:text="'Eliminar'"></a></td>
						</tr>
					</tbody>
				</table>
				<nav th:replace="/layout/paginator-nav :: paginator"></nav>

			</div>
		</div>

	</div>
</body>
</html>