<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment=" head">
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
<!-- <link rel="stylesheet" th:href="@{/css/estilo2.1.css}"> -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>

</head>
<body>
	<header th:fragment=" header" class="m-0">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand">Navbar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<ul class="navbar-nav">
					<li><a class="nav-item nav-link active" th:href="@{/index}">Inicio
					</a></li>
					<li><a class="nav-item nav-link"
						th:href="@{/modulo-inventario/listadeproductos}">Productos</a></li>
					<li><a class="nav-item nav-link" th:href="@{/clientes}">Clientes</a></li>
					<li><a class="nav-item nav-link"
						th:href="@{/modulo-ventas/clientes}">Ventas</a></li>
					<li><a class="nav-item nav-link"
						th:href="@{/modulo-cobranza/listadodecobranza}">Cobranzas</a></li>

				</ul>
				<ul class="navbar-nav navbar-right">
					<li sec:authorize="!isAuthenticated()"><a
						class="btn btn-outline-primary btn-sm " th:href="@{/login}">Login</a></li>
					<li class="dropdown"><a
						class="btn btn-outline-primary dropdown-toggle" href="#" role="button"
						id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> <span sec:authentication="name"></span> </a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<form id="logoutForm" th:action="@{/logout}" method="post">
							<button class="dropdown-item" onclick="document.getElementyBtId('logoutForm').submit();" type="submit">Cerrar Sesion </button>
<!-- 								<input type="hidden" th:name="${_crsf.parameterName}" th:value="${_crsf.token}"> -->
							</form>
						</div>
						</li>
				</ul>
			</div>
		</nav>
		
		<div class="alert alert-success" th:if="${success != null}"
			th:text="${success}"></div>
		<div class="alert alert-danger" th:if="${error != null}"
			th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}"
			th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}"
			th:text="${info}"></div>
	</header>
	<footer th:fragment=" footer">
		<div class="alert alert-dark m-0" sec:authorize="isAuthenticated()">

			Usuario Loggeado: <span sec:authentication="name"></span> |Rol: <span
				sec:authentication="principal.authorities"></span>

		</div>
	</footer>
</body>
</html>