<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<main class="container">
<article>
<section>
	 <span class="display-4" th:text="${titulo}"></span>
	 <br>
	 <a th:href="@{/formUsuario}" class="btn btn-outline-success mt-2">Añadir Nuevo Usuario</a>
	<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre </th>
      <th scope="col">Apellido</th>
      <th scope="col">Username</th>
      <th scope="col">Tipo de Usuario</th>
      <th scope="col">Perfil</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="user: ${usuarios}">
      <th scope="row" th:text="${user.id}"></th>
      <td th:text="${user.nombre}"></td>
        <td th:text="${user.apellido}"></td>
        <td th:text="${user.username}"></td>
          <td th:text="${user.iduserRole.descripcion}"></td>
              <td> <a th:href="@{/perfilusuario/} + ${user.id}" th:text="'Perfil'" class="btn btn-primary btn-xs"></a></td>
              <td> <a th:href="@{/deleteusuario/} + ${user.id}" th:text="'Eliminar'" class="btn btn-danger btn-xs"></a></td>
    </tr>

  </tbody>
</table>
</section>
</article>
</main>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>