<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<main class="container py-4">
		<article>
		<span class="display-4" th:text="${titulo}"></span>
			<hr>
			<a class="btn btn-outline-success btn-sm" th:href="@{/usuarios}">volver</a>
			<form th:action="@{/perfilusuario/}  + ${id}" th:object="${usuario}"
				th:method="PUT">
				<section id="datosPersonales">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="nombre">Nombre:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" placeholder="Nombre"
								id="nombre" th:field="*{nombre}"
								th:errorclass="'form-control alert-danger'"> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="apellidos">Apellidos:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" placeholder="Apellidos"
								id="apellidos" th:field="*{apellido}"
								th:errorclass="'form-control alert-danger'"> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></small>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="username">Username:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" placeholder="Username"
								id="username" th:field="*{username}"
								th:errorclass="'form-control alert-danger'"> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></small>
						</div>
					</div >
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="password">Password:</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" placeholder="Password"
								id="password" th:field="*{password}"
								th:errorclass="'form-control alert-danger'"> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="roles">Roles</label>
						<div class="col-sm-10">
							<select id="roles" th:field="*{iduserRole}" class="form-control">
								<option value="">-- seleccionar --</option>
								<option th:each="rol: ${roles}" th:text="${rol.descripcion}"
									th:value="${rol.id}"></option>
							</select>
						</div>
						<small class="form-text text-danger"
							th:if="${#fields.hasErrors('iduserRole')}"
							th:errors="*{iduserRole}"></small>
					</div>
					<input class="btn btn-primary" type="submit" value="Editar" />
				</section>

			</form>
			<section id="clientes">
						<div class="alert alert-info my-4" th:if="${#lists.isEmpty(listcli)}"
			th:text="'El Vendedor: ' + ${usuario.nombre} + ' ' + 
			${usuario.apellido} +'No posee ningun cliente'"></div>
				<div class="card mt-5">
					<div class="card-header" th:text="'Clientes del Usuario'"></div>
					<div class="card-body">
						<table th:if="${not #lists.isEmpty(listcli)}"
							class="table table-bordered table-striped my-4">
							<thead class="thead-dark">
								<tr>
									<th>Identificador</th>
									<th>Nombre</th>
									<th>Email</th>
									<th>RFC</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="cliente: ${listcli}">
									<td th:text="${cliente.identificador}"></td>
									<td th:text="${cliente.nombre}+' '+${cliente.apellidos} "></td>
									<td th:text="${cliente.email}"></td>
									<td th:text="${cliente.rfc}"></td>
								</tr>
							</tbody>
						</table>
						<!-- 						<nav th:replace="/layout/paginator-nav :: paginator"></nav> -->
					</div>
				</div>
			</section>
			<section id="pedidos">
			<div class="alert alert-info my-4" th:if="${#lists.isEmpty(listped)}"
			th:text="'No hay Pedidos Creados por el Vendedor: ' + ${usuario.nombre} + ' ' + 
			${usuario.apellido} "></div>
				<div class="card mt-5">
					<div class="card-header"
						th:text="'Pedidos realizados por el  Usuario'"></div>
					<div class="card-body">
						<table th:if="${not #lists.isEmpty(listped)}"
							class="table table-bordered table-striped my-4">
							<thead class="thead-dark">
								<tr>
									<th>Folio</th>
									<th>Descripcion</th>
									<th>Tipo de Pago</th>
									<th>Tipo de Credito</th>
									<th>Fecha de Creacion</th>
									<th>Total</th>
									<th>Ver Detalle</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="pedido: ${listped}">
									<td th:text="${pedido.folio}"></td>
									<td th:text="${pedido.descripcion}"></td>
									<td th:text="${pedido.tp.descripcion}"></td>
									<td th:text="${pedido.tc.descripcion}"></td>
									<td th:text="${pedido.createAt}"></td>
									<td th:text="${pedido.total}"></td>
									<td><a class="btn btn-outline-warning btn-xs"
										th:href="@{/modulo-ventas/ver/detalle/venta/} + ${pedido.folio}"
										th:text="'ir'"></a></td>
								</tr>
							</tbody>
						</table>
						<!-- 				<nav th:replace="/layout/paginator-nav :: paginator"></nav> -->
					</div>
				</div>
			</section>
			<section id="cobranza">
		<div class="alert alert-info my-4" th:if="${#lists.isEmpty(listcob)}"
			th:text="'No hay Cobranza Creada por el Vendedor: ' + ${usuario.nombre} + ' ' + 
			${usuario.apellido} "></div>
				<div class="card mt-5" >
					<div class="card-header"
						th:text="'Cobranza realizada por el  Usuario'"></div>
					<div class="card-body">
						<table th:if="${not #lists.isEmpty(listcob)}"
							class="table table-bordered table-striped my-4">
							<thead class="thead-dark">
								<tr>
									<th>Folio</th>
									<th>Descripcion</th>
									<th>Tipo de Pago</th>
									<th>Pedido</th>
									<th>Total</th>
									<th>Ver Detalle</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="cobranza: ${listcob}">
									<td th:text="${cobranza.folio}"></td>
									<td th:text="${cobranza.descripcion}"></td>
									<td th:text="${cobranza.tp}"></td>
									<td th:text="${cobranza.idpedido.folio}"></td>
									<td th:text="${cobranza.importe}"></td>
									<td><a class="btn btn-outline-warning btn-xs"
										th:href="@{/modulo-cobranza/ver/detalle/cobranza/} + ${cobranza.folio}"
										th:text="'ir'"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>
		</article>
	</main>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>