<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
<main class="container">
<article>
<section>
	 <span class="display-4" th:text="${titulo}"></span>
	 <br>
	 <a th:href="@{/nuevocliente}" class="btn btn-outline-success">Añadir Nuevo Cliente</a>
	<table class="table ">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">email</th>
      <th scope="col">RFC</th>
      <th scope="col">Vendedor</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="user: ${clientes}">
      <th scope="row" th:text="${user.identificador}"></th>
      <td th:text="${user.nombre}"></td>
        <td th:text="${user.apellidos}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.rfc}"></td>
         <td th:text="${user.vendedor.nombre} + ${user.vendedor.apellido}"></td>
              <td> <a th:href="@{/perfilcliente/} + ${user.id}" th:text="'Editar'" class="btn btn-primary btn-xs"></a></td>
              <td> <a th:href="@{/deletecliente/} + ${user.id}" th:text="'Eliminar'" class="btn btn-danger btn-xs"></a></td>
    </tr>

  </tbody>
</table>
<nav th:replace="/layout/paginator-nav :: paginator"></nav>
</section>
</article>
</main>
<footer>
</footer>
</body>
</html>